<html><head>
    <title>Haris Iftikhar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css">
  </head><body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ url_for('home') }}">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section text-left">
      <div class="container">
        <div class="row text-left">
          <div class="col-md-12">
            <a> Customer ID: {{userdata.0.0}}  </a>
            <br>
            <a> First Name: {{userdata.0.1}}  </a>
            <br>
            <a> Last Name: {{userdata.0.2}}  </a>
            <br>
            <a> Email Address: {{userdata.0.3}}  </a>
            <br>
            <a> Sex: {{userdata.0.4}}  </a>
            <br>
            <hr>{% for movieattend in movieattend %}
            <a> Movie Name: {{movieattend.0}}  </a>
            <br>
            <a> Rating: {{movieattend.1}}  </a>
            <br>
            <br>{% endfor %}</div>
        </div>
      </div>
    </div>
  

</body></html>